#banner .copy {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    display: inline;
    float: left;
    max-width: 800px;
    /*margin-right: 1.1873%;*/
    /*margin-top: 20px;*/
    padding: 20px;
    /*width: 52.2063%;*/
    position: relative;
    z-index: 1;
}

#banner:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#banner h1 {
    color: #fff;
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue CE 600 Condensed","Helvetica Neue LT Condensed","Helvetica Neue 600 Condensed","HelveticaNeue-BoldCondensed","Helvetica Neue BoldCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
}
#banner .intro {
    color: #fff;
    font-size: 21px;
    line-height: 1.33;
    opacity: 0.75;
}
#banner .btn, #banner .intro {
    margin-left: 4px;
}


/* Solutions for mobile and small screens  */
@media (max-width: 600px) {
    #banner h1{
	   font-size: 30px; /* !important;*/
    }
    #banner .intro{
        font-size: 16px;
    }
}
